name: Minify Python Script

on:
  push:
    paths:
      - rat-scr/main.py

jobs:
  minify:
    runs-on: windows-latest
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'  # Adjust the Python version as needed

    - name: Download minicode.exe
      run: |
        powershell -Command "Invoke-WebRequest -Uri 'https://github.com/s1uiasdad/python-rat/releases/download/test/minicode.exe' -OutFile 'minicode.exe'"

    - name: Minify main.py
      run: |
        powershell -Command "Start-Process -FilePath 'minicode.exe' -ArgumentList '-i rat-scr/main.py -o rat-scr/mainmini.py' -Wait"

    - name: Commit and push changes
      run: |
        git config --global user.name 'GitHub Actions'
        git config --global user.email 'actions@github.com'
        git add rat-scr/mainmini.py
        git commit -m "Minified main.py and updated mainmini.py"
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

    # Delete Tag and Release
    - name: Delete tag and release
      uses: dev-drprasad/delete-tag-and-release@v1.1
      with:
        tag_name: AutoBuild
        delete_release: true
        github_token: ${{ secrets.GITHUB_TOKEN }}

    # Create Release
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: AutoBuildcode
        release_name: AutoBuildcode
        body: "Release created by GitHub Actions"
        draft: false
        prerelease: false

    # Upload Release Asset
    - name: Upload Release Asset
      id: upload-release-asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: dist\main.exe
        asset_name: main.exe
        asset_content_type: application/zip


